:root{
  --colorbd: #434455;
  --font-familybd: 'Roboto', sans-serif;
  --background-colorbd: #FFF;
}

body {
  color: var(--colorbd);
  font-family: var(--font-familybd);
  background-color: var(--colorbd);

}